Source: chip-mconfigs
Section: misc
Priority: extra
Maintainer: Ben Young <benjamin@nextthing.co>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: nextthing.co
Github: github.com/NextThingCo

Package: chip-mconfigs
Architecture: all
Provides: chip-configs
Depends: ${misc:Depends}
Description: Userspace configuration for Chip.
 Chip configs for themeing and functionality of openbox and tint2.
